{
  "xray_port": {{ xray_port }},
  "xray_vmess_port": {{ xray_vmess_port | default(10086) }},
  "xray_domain": "{{ xray_domain }}",
  "reality_private_key": "{{ reality_private_key }}",
  "reality_public_key": "{{ reality_public_key }}",
  "short_id": "{{ short_id }}"
}
